<ActionBar title="Password">
    <NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>
<GridLayout #background scaleX="1.4" scaleY="1.4" class="background" (loaded)="startBackgroundAnimation(background)"></GridLayout>


<ScrollView>
    <StackLayout margin="10" verticalAlignment="center">
        <Label class="actionbar-title text pt-10" text="Enter New Password" textWrap="true" style="color:#252525"></Label>

        <StackLayout class="form" padding="15">

            <StackLayout class="input-field">
                <!-- <Label text="Confirm Password password" class="label font-weight-bold m-b-5"></Label> -->
                <TextField hint="enter email address" class="input" [(ngModel)]="username"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>




            <Button [nsRouterLink]="['/home']" class="btn btn-primary w-full" text="Next" (tap)="resetPassword()"></Button>

        </StackLayout>
    </StackLayout>
</ScrollView>