/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 0;
}

.background {
  background-image: url("res://landbg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-primary{
  background-color:#FF1717;
  height: 55em;
  font-size: 16px;
  font-family: "Mont";
   font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}




 .border-bottom {
    border-width: 1;
    border-color: #ffbd67;
    margin-bottom: 40px;
    padding-bottom: 15;
    padding-top: 15; 
    color: white;

  }

TextField{
  color: white;
    placeholder-color: rgb(255, 255, 255);;
}

.secure{
  width: 60%;
}

.setPin{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
