<!-- <ActionBar title="CooperSwitch" android.icon="res://icon" android.iconVisibility="always"></ActionBar> -->
<ActionBar style="background-color:black">


    <NavigationButton text="Go Back" col="0" android.systemIcon="ic_menu_back" (tap)="navigateBack()" style="font-size: 12px;"></NavigationButton>

</ActionBar>
<GridLayout #background scaleX="1.4" scaleY="1.4" class="background" (loaded)="startBackgroundAnimation(background)"></GridLayout>

<ScrollView>
    <StackLayout>







        <GridLayout margin="0.1" rows="180,auto,auto">

            <GridLayout row="0" columns="160,10,*" rows="*" margintop="50" paddingright="30" paddingleft="30">
                <Label row="0" col="0" [nsRouterLink]="['/register']" marginright="15" text="Register as a Cooperator" horizontalAlignment="left" textWrap="true" [style]="headerCooperatorStyle"></Label>
                <Label row="0" col="1" text="|" horizontalAlignment="center" textWrap="true" style="color:#851212; font-size: 15;"></Label>
                <Label row="0" col="2" [nsRouterLink]="['/vendor']" text="Register as a Vendor" horizontalAlignment="right" textWrap="true" [style]="headerVendorStyle"></Label>


            </GridLayout>


            <GridLayout row="1" rows="auto,auto,auto" class="form" paddingright="50" paddingleft="50">


                <GridLayout row="0" rows="auto,auto">

                    <!-- <Label text="Enter Cooper ID" class="label font-weight-bold m-b-5"></Label>
                <Label class="fa" [text]="'fa-sign-in' | fonticon"></Label> -->
                    <GridLayout row="0" columns="40,*" class="input-field">
                        <Image col="0" src="res://pass" class="initial-logo" marginright="20" horizontalAlignment="left" style=" color:white; font-size:20px"></Image>

                        <TextField col="1" hint="Set Password" secure="true" class="input border-bottom" [(ngModel)]="npass"></TextField>
                    </GridLayout>



                    <GridLayout row="1" columns="40,*" class="input-field">

                        <Image col="0" src="res://pass" class="initial-logo" marginright="20" horizontalAlignment="left" style=" color:white; font-size:20px"></Image>

                        <TextField col="1" hint="Confirm Password" secure="true" class="input border-bottom" [(ngModel)]="cnpass"></TextField>
                    </GridLayout>



                </GridLayout>

                <GridLayout row="1" columns="40,*" margintop="20">
                    <Button col="1" class="btn btn-primary w-full loginbutton" text="CREATE ACCOUNT" (tap)="next()"></Button>
                </GridLayout>







            </GridLayout>
            <GridLayout row="2" class="form" padding="15">




            </GridLayout>

        </GridLayout>



        <!-- <StackLayout class="p-20">
        <Button text="Success" (tap)="showSuccess()" class="btn btn-primary btn-active"></Button>
        <Button text="Error" (tap)="showError()" class="btn btn-primary btn-active"></Button>
        <Button text="Custom Image" (tap)="showCustomImage()" class="btn btn-primary btn-active"></Button>
    </StackLayout> -->


    </StackLayout>

</ScrollView>