.border-bottom {
    border-bottom-width: 1;
    border-bottom-color: #ffbd67;
    margin-bottom: 10;
    padding-bottom: 8;
    color: white;
}

.btn-primary {
    background-color: #AFC901;
    height: 50em;
    font-size: 16px;
    font-family: "Mont";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

TextField {
    color: black;
    font-size: 11px;
    placeholder-color: black;
}

.tapone {
    margin-top: -35em;
}